* {
  font-family: "Poppins", sans-serif;
  /* box-sizing: border-box; */
}
.display-flex {
  display: flex;
}

/* text color */
.text-primary {
  color: #3a3a3a;
}

header {
  margin-top: 50px;
}
.brand {
  font-weight: 700;
  font-size: 1.5rem;
}
.navbar,
.nav-right,
.banner {
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
}

.icons {
  margin-right: 30px;
}

.nav-link,
.banner-description {
  font-weight: 600;
  font-size: 1rem;
}

.navbar,
.banner {
  max-width: 1240px;
  margin: 0px auto;
}

/* banner section */

.banner {
  margin-top: 35px;
}
.banner-description {
  margin-bottom: 16px;
}

.banner-title {
  font-weight: 700;
  font-size: 3.25rem;
  margin-bottom: 16px;
}

.btn {
  color: #ffffff;
  background-color: #e02c6d;
  padding: 10px 24px;
  border-radius: 41px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
}

.banner-content {
  max-width: 582px;
}
.banner-img {
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: contain;
  /* max-width: 100%; */
  /* width: 475px; */
  width: 100%;
  max-width: 475px;
  height: 475px;
}
.banner-img img {
  padding-top: 25px;
}

/* logos section */
.logos {
  max-width: 1110px;
  margin: auto;
  margin-top: 60px;
  /* padding: 100px; */
}
.logos-container {
  max-width: 987px;
  margin: 0 auto;
  padding: 15px;
  gap: 61px;
  /* justify-content: space-between; */
  align-items: center;
}

.logos hr {
  background-image: linear-gradient(#c0ccda10, #c0ccda50, #c0ccda);
  border: none;
  height: 1.5px;
}
/* .logo{
   margin-right: 61px;
    align-items: center;
} */

/* card section */
.card-heading{
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
}

.card{
  /* max-width: 329px; */
  /* height: 476px; */
  /* text-align: center; */
  /* border: 2px solid red; */
  border-radius: 5px;
  /* margin: auto; */
  /* box-shadow: 1px 2px 20px ; */
  /* overflow: hidden; */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: start; */
}
.card-image{
  text-align: center;
  /* display: flex;
  align-items: center; */
  margin-top: 15px;
  border-radius: 5px;
  /* width: 100%; */
  /* padding: 10px; */
}

.card-body{
  /* margin-left: 15px; */
  /* border: 2px solid ; */
  padding: 0px 15px;
  /* border: 2px solid; */
}
.card-title{
  font-size: 1.75rem;
  font-weight: 500;
  color: #18191F;
  margin-bottom: 0px;
  margin-top: 8px;
}
.card-price{
  font-size: 1.5rem;
  margin-top: 8px;
  margin-bottom: 5px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #00000087;
}
.card-description{
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #787885;
}
.rating{
 font-size: 12px;
  /* margin-right: 1px; */
  color: #FB8200;
}
.card-rating span{
  padding: 0px 5px;
  /* margin: 0px 5px; */
  /* border: 2px solid; */
  color: #5E6366;
  font-size: 0.875rem;
  font-weight: 700;
  /* gap: 10px; */
  /* align-items: center; */
}
.more-option{
  color: #E02C6D;
  font-size: 700;
  font-weight: 1rem;
  align-items: center;
  gap: 8px;
  justify-content: end;
}

.card-section{
max-width: 1047px;  
  margin: auto;
}
.all-card{
  display: grid;
  grid-template-columns: repeat(3,1fr);

  gap: 30px;
}
/* responsive media query */

@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    /* margin: 0px auto; */
  }
  .logos-container {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  /* .nav-links,.icons{
    visibility: hidden;
  } */
  .logos hr {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-content {
    text-align: center;
    /* margin: 0 auto; */
  }
  .banner-title {
    font-size: 1.75rem;
  }
  .all-card{
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 0px;
  }
  /* .card-section{
    margin: 0px;
  } */
  .card-image{
    padding: 0 15px;
  }
 .more-option{
  justify-content: center;
 }
}

