* {
  font-family: "Poppins", sans-serif;
}
.display-flex {
  display: flex;
}

/* text color */
.text-primary {
  color: #3a3a3a;
}

header {
  margin-top: 50px;
}
.brand {
  font-weight: 700;
  font-size: 1.5rem;
}
.navbar,
.nav-right,
.banner {
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
}

.icons {
  margin-right: 30px;
}

.nav-link,
.banner-description {
  font-weight: 600;
  font-size: 1rem;
}

.navbar,
.banner {
  max-width: 1240px;
  margin: 0px auto;
}

/* banner section */

.banner {
  margin-top: 35px;
}
.banner-description {
  margin-bottom: 16px;
}

.banner-title {
  font-weight: 700;
  font-size: 3.25rem;
  margin-bottom: 16px;
}

.btn {
  color: #ffffff;
  background-color: #e02c6d;
  padding: 10px 24px;
  border-radius: 41px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
}

.banner-content {
  max-width: 582px;
}
.banner-img {
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: contain;
  /* max-width: 100%; */
  /* width: 475px; */
  width: 100%;
  max-width: 475px;
  height: 475px;
}
.banner-img img {
  padding-top: 25px;
}

/* logos section */
.logos {
  max-width: 1110px;
  margin: auto;
  margin-top: 50px;
  /* padding: 100px; */
}
.logos-container {
  max-width: 987px;
  margin: 0 auto;
  padding: 15px;
  gap: 61px;
  /* justify-content: space-between; */
  align-items: center;
}

.logos hr {
  background-image: linear-gradient(#c0ccda10, #c0ccda50, #c0ccda);
  border: none;
  height: 1.5px;
}
/* .logo{
   margin-right: 61px;
    align-items: center;
} */

/* responsive media query */

@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    /* margin: 0px auto; */
  }
  .logos-container {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  /* .nav-links,.icons{
    visibility: hidden;
  } */
  .logos hr {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-content {
    text-align: center;
    /* margin: 0 auto; */
  }
  .banner-title {
    font-size: 1.75rem;
  }
}
